## Using Python as Excel

### Description
In this file, I will like to introduce basic features you can do using Excel in Python. Excel is a very handy tool, but I believe Python is more flexible and capable of doing more. The following will be the Excel tools that will be expressed in Python.

#### Excel tools
- Four arithmetic operations (+,-,×,÷)
- Functions (SUM, IF, COUNTIF, AVERAGE)
- Adavanced Functions (VLOOKUP)
- Export Files
- Pivot Table
- Tables by categories
- Graphs
- Appliable Software

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('product_data.csv')
df

,store_num,year,week,p1_sales,p2_sales,p1_price,p2_price,p1_promo,p2_promo,country
0,101.0,1.0,1.0,122.0,110.0,2.99,2.99,0,1,USA
1,101.0,1.0,2.0,160.0,79.0,2.49,3.19,0,0,USA
2,101.0,1.0,3.0,169.0,80.0,2.19,2.99,0,0,USA
3,101.0,1.0,4.0,119.0,102.0,2.49,2.49,0,0,USA
4,101.0,1.0,5.0,114.0,143.0,2.49,2.59,0,1,USA
...,...,...,...,...,...,...,...,...,...,...
2075,120.0,2.0,48.0,135.0,84.0,2.79,3.19,0,0,CHN
2076,120.0,2.0,49.0,102.0,95.0,2.79,2.59,0,0,CHN
2077,120.0,2.0,50.0,112.0,81.0,2.79,2.99,0,0,CHN
2078,120.0,2.0,51.0,118.0,117.0,2.99,2.99,0,0,CHN
2079,120.0,2.0,52.0,165.0,77.0,2.49,2.99,1,0,CHN

### Four arithmetic operations (+,-,×,÷)

In [3]:
## sales_total: adding the numbers in the p1_sales to p2_sales
## price_diff: subtracing the numbers in the p2_price to p1_price
## both_promo: multipling the numbers in the p1_promo to p2_promo
## p1_unit: dividing the numbers in the p1_sales to p1_price
## p2_unit: dividing the numbers in the p2_sales to p2_price

### Functions (SUM, IF, COUNTIF, AVERAGE)

In [4]:
#### For the following functions, make a seperate dataframe
## SUM: sum of p1_sales, p2_sales, p1_promo, p2_promo
## COUNTIF: if p1_price > 2.50 and p2_price > 3.50
## AVERAGE: average of sales, price, promo

### Adavanced Functions (VLOOKUP)

### Export Files

In [5]:
## Export the "Four arithmetic operations" columns
## Export the "Functions Dataframe"

### Pivot Table

In [6]:
## Make Pivot table by country, year (week), value: sales, price

### Tables by categories

In [7]:
## Create tables by country, store_num, and year

### Graphs

In [8]:
## bar graph
## line graph (time)
## pie chart
## boxplot (sales,  price)
## mix graph (bar + line)

### Appliable Software

In [9]:
## inputing this file in, output will be the two exported files